$black: #000000;
$white: #ffffff;
$teal: #0d687e;
$pink: #ef72a1;
$gray: #7e7d7d;
$rare_pink: #cc608a;

$title: 'Amatic SC', cursive;
$sans: 'Raleway', sans-serif;

$c-s-height: 200px;
$b1-s-height: 75px;
$b2-s-height: 60px;
$b3-s-height: 45px;

$c-h-height: 250px;
$b1-h-height: 85px;
$b2-h-height: 70px;
$b3-h-height: 55px;

$c-trans: 0.5s;
$b-trans: 0.2s;